[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
emoji = "*"
beautifulsoup4 = "*"
twitter = "*"
pytest = "*"
python-dotenv = "*"
ginza = "*"
scikit-learn = "*"
gensim = "*"
sentencepiece = "*"

[dev-packages]

[requires]
python_version = "3.9"
